<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="media-tag.webcomponent.js"></script>
		<script type="text/javascript">
			function onload() {
				if (MediaTag) {
					// Add fake monitoring
					MediaTag.extensionApi.addMonitor({
						name: 'fakeMonitor',
						states: ['started', 'showSketchfab', 'showTwitch', 'showSoundcloud', 'showSlideshare', 'showKickstarter', 'showDocs'],
						startup: function () {
							// Initiates value
							MediaTag.controller.changeState('fakeMonitor', 'started');
						}
					});

					// Add clicks that changes monitor
					var bts = document.querySelectorAll('button');
					for (var i = 0; i < bts.length; i++) {
						bts[i].onclick = function () {
							MediaTag.controller.changeState('fakeMonitor', this.dataset.state);
						};
					}

					// Create the container for media tag
					var mediaContainer = document.createElement('media-tag');
					mediaContainer.setAttribute('src', 'manifest.json');
					document.querySelector('body').appendChild(mediaContainer);
				}
			}
		</script>
	</head>
	<body onload="onload()">
		<div>
			<button data-state="showSketchfab">show Sketchfab</button>
			<button data-state="showTwitch">show Twitch</button>
			<button data-state="showSoundcloud">show Soundcloud</button>
			<button data-state="showSlideshare">show Slideshare</button>
			<button data-state="showKickstarter">show Kickstarter</button>
			<button data-state="showDocs">show Docs</button>
		</div>
	</body>
</html>